<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustb.mapper.PackageMapper">

    <select id="findAllWithPage" resultType="com.ustb.entity.PackageEntity">
        SELECT * FROM packages
        <where>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (tracking_number LIKE CONCAT('%', #{keyword}, '%')
                OR pickup_code LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY check_in_time DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*) FROM packages
        <where>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (tracking_number LIKE CONCAT('%', #{keyword}, '%')
                OR pickup_code LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

</mapper>